#marqcontain{
    width: 100%;
    height: 1.9rem;
    font-family: Montserrat;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}


@media (max-width: 576px){
#marqcontain .scroll{
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: myloop  100s linear infinite;}
@keyframes myloop {
    0% {transform: translateX(3%);}
    100% {transform: translateX(-100%);}
}}
@media (min-width: 768px){
#marqcontain .scroll{
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: myloop  70s linear infinite;}
@keyframes myloop {
    0% {transform: translateX(15%);}
    100% {transform: translateX(-100%);}
}}

@media (min-width: 992px){
#marqcontain .scroll{
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: myloop  120s linear infinite;}
@keyframes myloop {
    0% {transform: translateX(15%);}
    100% {transform: translateX(-100%);}
}}

@media (min-width: 1200px){
#marqcontain .scroll{
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: myloop  140s linear infinite;}
@keyframes myloop {
    0% {transform: translateX(15%);}
    100% {transform: translateX(-100%);}
}}

@media (min-width: 1400px){
#marqcontain .scroll{
    background:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: myloop  180s linear infinite;}

@keyframes myloop {
    0% {transform: translateX(15%);}
    100% {transform: translateX(-100%);}
}}


#marqcontain :hover {
  animation-play-state: paused;
}

.item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: white;
    font-size: 0.7rem;
    background-color:#a74f03;
    font-size:1.21em;
    font-weight:800;
    padding: 0.2rem 1rem;
    margin:  0 2px 0 2px;
    border-radius: 2.3rem;
    white-space: nowrap;
    box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 01.5rem #00000066,
} 


.item1 {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #54fa90;
    font-size: 0.7rem;
    background-color:#294c3e;
    font-size:1.21em;
    font-weight:800;
    padding: 0.7rem 1rem;
    margin:  0 2px 0 2px;
    border-radius: 2.3rem;
    white-space: nowrap;
    box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 01.5rem #00000066,
} 

